body{
   background-color: azure;
}
.heading{
    text-align: center;
}
.concepts{
    margin-left: 1rem;
}

.ps{
    margin-left: 1rem;
    display: block;
}
.ba{
    margin-left: 1rem;
}

.ho:hover{
    background-color: aqua;
}
.mm{
    margin-left: 1rem;
}